{% extends "layout.html" %}
{% block body %}
    <ul class="list-group">
        {% for d in date_list %}
            <li class="list-group-item">
                <h3>{{ d[0] }}
                    {% if d[1] > 0 %}
                        <span class="label label-success">After Born {{ d[1] }} days</span>
                    {% elif d[1] == 0 %}
                        <span class="label label-success">Born today</span>
                    {% else %}
                        <span class="label label-success">Before Born {{ -d[1] }} days</span>
                    {% endif %}
                </h3>
                <div class="row">
                    {% for i in image_dict[d[0]] %}
                        <div class="col-xs-6 col-md-3">
                            <a href="{{ url_for('static', filename=i) }}" target="_blank" class="thumbnail">
                                <img src="{{ url_for('static', filename=i) }}" class="img-circle" alt="...">
                            </a>
                        </div>
                    {% endfor %}
                </div>

            </li>
        {% endfor %}

        <nav aria-label="Page navigation" class="pages">
            <ul class="pagination">
                <li>
                    <a href="{{ current_page-1 }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                {% if current_page <= 5 %}

                    {% for i in range(1, 11) if i <= total_pages %}

                        {% if i == current_page %}
                            <li class="active"><a href="{{ i }}">{{ i }}</a></li>
                        {% else %}
                            <li><a href="{{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                {% else %}
                    {% for i in range(current_page-5, current_page + 5) if i <= total_pages %}

                        {% if i == current_page %}
                            <li class="active"><a href="{{ i }}">{{ i }}</a></li>
                        {% else %}
                            <li><a href="{{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}


                <li>
                    <a href="{{ current_page + 1 }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

            </ul>
        </nav>

    </ul>
{% endblock %}

<script type="text/javascript">
    jQuery(function ($) {
        $(document).ready(function () {
            $('.pages').stickUp();
        });
    });
</script>