{% extends "layout.html" %}
{% block body %}
    <ul class="list-group">
        {% for d in date_list %}
            <li class="list-group-item">
                <h3>{{ d }} <span class="label label-success">days</span></h3>
                <div class="row">
                    {% for i in image_dict[d] %}
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img src="{{ url_for('static', filename=i) }}" alt="...">
                            </a>
                        </div>
                    {% endfor %}
                </div>

            </li>
        {% endfor %}

        {#        <li class="list-group-item">#}
        {#            <h3>Example heading <span class="label label-success">Success</span></h3>#}
        {#            <div class="row">#}
        {#                {% for i in range(3) %}#}
        {#                    <div class="col-xs-6 col-md-3">#}
        {#                        <a href="#" class="thumbnail">#}
        {#                            <img src="{{ url_for('static', filename='img/P70306-173359.jpg') }}" alt="...">#}
        {#                        </a>#}
        {#                    </div>#}
        {#                {% endfor %}#}
        {#            </div>#}
        {##}
        {#        </li>#}
    </ul>
{% endblock %}
